@import "tailwindcss";

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
.lexend-deca {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.7s ease-in-out forwards;
    /* color: rgb(206, 90, 90); */
    /* color: rgb(72, 145, 72); */
}
.tagged-user{
    color: blue;
}
/* 
.dark {
    background-color: black;
} */